html,
body {
	height: 100%;
}

body h5,
body .h5 {
	font-size: 16px;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1.2;
	height: 100%;
}

.paper {
	max-width: 400px !important;
	min-width: 270px;
	height: 560px !important;
	padding-top: 100px;
	background: #ffffff;
	box-shadow: 2px 6px 15px rgba(112, 150, 155, 0.2);
}

@media screen and (max-width: 576px) {
	.paper {
		max-width: 270px !important;
		height: 380px !important;
	}
}

.mtheme-c {
	color: rgb(81, 134, 142);
}

p {
	text-shadow: 3px 3px 3px rgba(112, 150, 155, 0.1);
	font-weight: 200;
	opacity: 0.5;
	margin: 0 !important;
}

.btn-login {
	width: 150px;
	height: 29px;
	background: rgba(112, 150, 155, 0.2);
	font-weight: 400;
	color: #ffffff;
	text-shadow: 1px 2px 2px rgba(112, 150, 155, 0.9);
	text-decoration: none;
	/* margin-bottom: 12px; */
}

a.btn-login:hover {
	background: rgba(112, 150, 155, 0.3);
	text-shadow: none;
}

.btn-loginmail {
	font-size: 15px;
	margin-bottom: 8px;
	opacity: 0.4;
}

a.btn-loginmail:hover {
	opacity: 0.5;
}

.mailmsg {
	width: 220px;
	height: auto;
	font-size: 14px;
	text-align: center;
	opacity: 0%;
}

.mailmsg p {
	text-shadow: 2px 2px 2px rgba(112, 150, 155, 0.1);
}

.hidemsg {
	visibility: hidden;
	transition: all 1000ms ease;
}

a.btn-loginmail:hover + .hidemsg {
	visibility: visible !important;
	opacity: 100%;
	transition: all 1000ms ease;
}

.errpage p {
	opacity: unset;
}

.errpage {
	color: rgba(81, 134, 142, 0.5);
	padding-top: 0 !important;
}

.errpage a {
	color: rgba(81, 134, 142, 0.6);
}
.errpage a:hover {
	color: rgba(81, 134, 142, 0.7);
}
